<h2>hello, wrold</h2>
{#{{ user }}#}
{#{{ request.session['role'] }}#}
{#<img src="/static/img/meizitu-39.jpg">#}

{{ role }}<br>

<a href="/vuser/login/">login</a><br>
<a href="/vuser/logout/">logout</a><br>
<a href="/vuser/register">register</a><br>
<a href="/vuser/resetpwd">resetpwd</a><br>
<a href="/vuser/resetpassword">resetpassword verify</a><br><br>
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>

<a href="/vuser/getuserall">getuserall</a><br>
<a href="/vuser/getuserinfo?id=14">getuserinfo</a><br>
<a href="/vuser/updateuser">updateuser</a><br>
<a href="/vuser/deleteuser">deleteuser</a><br>

<a href=""></a><br>
<a href=""></a><br>